/* You can add global styles to this file, and also import other style files */
@import '~@ng-select/ng-select/themes/default.theme.css';

body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #333333;
  margin: 0;
  overflow: hidden;
}
.app-hidden {
  display: none;
}
.mat-dialog-container {
  padding: unset !important;
  border-radius: 10px;
  width: 600px !important;
  min-height: 150px !important;
}
